.container{
   margin-top: 50px;
   margin-bottom: 50px;
}
.card{
  border: none;
}
.btn{
  min-width: 100px;
  max-width: 100px;
}
.card-header,.card-footer{
  background-color: white;
  border: none;
}
.select,.features,.card-footer{
  display: inline-block;
  height: 100px;
}
.select img:hover{
  border: 1px solid red;
  border-radius: 10px;
  width: 70px;
  cursor: pointer;
}

.features,.card-footer{
  margin:5px;
  height: 30px;
}
